<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>장바구니</title>
  <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
  <h1 class="mb-3">Shoppingmall</h1>
  <h4 class="mb-3">welcome to our homepage!</h4>
  <h4 th:text="${#authentication.name}"></h4>
</div>

<div class="container">
  <h2>장바구니</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">상품 이름</th>
      <th scope="col">가격</th>
      <th scope="col">수량</th>
      <th scope="col">총 가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
      <td th:text="${item.productName}">상품 이름</td>
      <td th:text="${item.productPrice}">가격</td>
      <td th:text="${item.amount}">수량</td>
      <td th:text="${item.productPrice * item.amount}">총 가격</td>
    </tr>
    </tbody>
  </table>
</div>

<script src = "/js.product.js"></script>
</body>
</html>